:root {
  --debug-outline: 0px;
  --font-size: 16px;
  --foreground-colour: rgb(255, 255, 255);
  --background-colour: rgb(48, 48, 48);
  --font-family: monospace, sans-serif;
  --font-weight: 400;
  --scrollbar-colour: rgb(84, 93, 103) var(--background-colour);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-color: var(--scrollbar-colour);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
}

#page {
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.ace_editor {
  position: relative !important;
  border: 1px solid rgb(60, 65, 68);
  margin: 24px auto 0px auto;
  height: 200px;
  width: 80%;
  overflow-x: hidden;
}

.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* ! VVV WORK IN PROGRESS BELOW VVV */
.ace_tooltip {
  position: absolute !important;
  z-index: 1000;
}
.ace_autocomplete {
  position: absolute !important;
}
.ace_editor.ace_autocomplete {
  z-index: 1000000;
}
/* ! ^^^ WORK IN PROGRESS ABOVE ^^^ */

body.fullScreen {
  overflow: hidden;
  transform: none !important;
}

#new-button {
  color: lightblue;
  cursor: pointer;
  font: 30px arial;
  padding: 16px;
  text-align: center;
  margin: 24px auto;
  border: medium solid transparent;
  display: inline-block;
  user-select: none;
}

#new-button:hover {
  border: medium solid lightgray;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 12px 0 lightblue;
}

@media only screen and (max-width: 600px) {
  .ace_editor {
    width: 95%;
  }
}