:root {
  --debug-outline: 0px;
  --foreground-colour: rgb(255, 255, 255);
  --background-colour: black;
  --font-size: 16px;
  --font-family: monospace, sans-serif;
  --font-weight: 400;
  --scrollbar-slider: rgb(34, 63, 63);
  --scrollbar-gutter: tranparent;
  --scrollbar-colour: var(--scrollbar-slider) var(--scrollbar-gutter);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  scrollbar-color: var(--scrollbar-colour);
  box-shadow: inset 0 0 0 var(--debug-outline) var(--foreground-colour);
}

#page {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}
#page.layout-1 {
  flex-direction: column;
}
#page.layout-2 {
  flex-direction: column-reverse;
}
#page.layout-3 {
  flex-direction: row;
}
#page.layout-4 {
  flex-direction: row-reverse;
}

#editor {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  flex-shrink: 1;
  flex-grow: 1;
  /* scrollbar-color: red green; */
  
}

#terminal {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 16px;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  flex-shrink: 1;
  flex-grow: 1;
  overflow-y: auto;
  background-color: black;
  color: rgb(0, 255, 0);
  scrollbar-color: var(--scrollbar-slider) transparent;
}

.hidden {
  display: none !important;
}


.tooltip-container {
  all: unset;
  top: 0%;
  right: 100%;
  height: 100%;
  padding: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 12px;
  cursor: pointer;
  overflow-y: auto;
  text-wrap: nowrap;
  box-sizing: border-box;
  display: none;
  /* box-shadow: inset 0 0 0 1px orange; */
}

.tooltip-text {
  background-color: rgba(0, 50, 70, 1);
  text-wrap: nowrap;
  box-sizing: border-box;
  padding: 8px;
}

.icon:hover .tooltip-container {
  display: flex;
}

#toolbar-container {
  all: unset;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 48px;
  height: 100%;
  box-sizing: border-box;
  margin: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: center;
  flex-wrap: nowrap;
}

#toolbar-top {
  display: flex;
  flex-direction: column-reverse;
  max-height: calc(100% - 48px - 32px);
  overflow: auto;
  scrollbar-color: var(--scrollbar-slider) transparent;
}

#toolbar-bottom {
  display: flex;
  flex-direction: column-reverse;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  touch-action: manipulation;
  box-shadow: inset 0 0 0 var(--debug-outline) teal;
  background-color: rgba(0, 50, 70, 1);
}

/* #toolbar-bottom .icon {
  background-color: rgba(0, 0, 0, 0);
} */


.icon:active {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  background-color: darkslategray;
  outline: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  /* color: #9AA0A6; */
  color: white;
  user-select: none;
}

/* 
::-webkit-scrollbar {
  background: none;
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  border: solid 0 rgba(0, 0, 0, 0);
  border-right-width: 4px;
  border-left-width: 4px;
  -webkit-border-radius: 9px 4px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.2), inset 0 0 0 4px rgba(128, 128, 128, 0.2);
}

::-webkit-scrollbar-track-piece {
  margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow:
    inset 0 0 0 1px rgba(128, 128, 128, 0.9),
    inset 0 0 0 4px rgba(128, 128, 128, 0.9);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.ace_scrollbar-h {
  margin: 0 2px;
} */