html, body {
  background-color: #333;
  color: #fff;
  font-family: monospace;
}

#core {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#button-container {
  display: flex; /* Enables flexbox layout */
  flex-direction: row; /* Aligns items horizontally (default, can be omitted) */
  align-items: center; /* Vertically centers the items */
  gap: 10px; /* Adds space between items */
}

button {
  padding: 4px 6px;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: -1px;
  cursor: pointer;
  user-select: none;
}

dialog {
  color: white;
  background-color: inherit;
  filter: brightness(1.2);
  max-width: 80%;
  margin: auto;
}

dialog::backdrop {
  all: unset;
}

code {
  font-family: monospace;
  background-color: #616161;
  padding: 2px 3px;
  border-radius: 4px;
}