html, body {
    background: rgb(30, 30, 30);
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#editorContainer {
    width: 70%;
    height: 400px;
    position: relative;
    background-color: red;
}
#editor { 
    /* padding-top: 40px;
    box-sizing: border-box; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* .ace_gutter {
    transform: translate(0px, 10px);
} */

/* .ace_content {
    transform: translate(0px, 10px);
} */

/* .ace_gutter {
    padding-top: 8px;
} */

/* .ace_content {
    padding-top: 8px;
    padding-left: 8px;
} */
/* 
.scrollmargin {
    height: 100px;
    width: 40px;
} */

@media only screen and (max-width: 600px) {
    #editorContainer {
        width: 100%;
    }
}