:root {
  --colourBackground: rgb(32,32,32);
  --colourFont: rgb(200,200,200);
  --family: monospace, 'Courier New', Courier, sans-serif;
  /* --family: fantasy; */
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--colourBackground);
  color: var(--colourFont);
  margin: 0px;
  padding: 0;
}
* {
  font-family: var(--family);
  font-size: 14px;
}

button {
  width: 50%;
  font-size: 14px;
  aspect-ratio: 1;
  background-color: rgb(12, 12, 12);
  color: white;
  margin-bottom: 8px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;    /* Vertically centers the text */
  justify-content: center; /* Horizontally centers the text */
  box-shadow: inset 0 0 0 1px white;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#core {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar {
  width: 4%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  padding-top: 20px;
  padding-bottom: 20px;
  /* box-shadow: inset 0 0 0 2px magenta; */
}
#file {
  width: 100%;
  flex: 1;
  font-family: var(--family);
  box-sizing: border-box;
  padding: 20px;
  background: rgb(30,30,30);
  border: none;
  color: green;
  resize: none;
}
#file:focus {
  outline: none;
  border: none;
}

#terminal {
  width: 100%;
  flex: 1;
  font-family: var(--family);
  box-sizing: border-box;
  padding: 20px;
  background: black;
  border: none;
  color: green;
  resize: none;
}

@media (orientation: portrait), (max-width: 1200px) {
  #sidebar {
    width: 8%;
  }
  
  button {
    font-size: 12px;
  }
}