:root {
  --colourBackground: rgb(32,32,32);
  --colourFont: rgb(0,255,0);
  --colourRed: rgb(255,0,0);
  --colourGreen: rgb(0,255,0);
  --colourBlue: rgb(0,0,255);
  --colourOrange: rgb(255,128,0);
  --family: monospace, 'Courier New', Courier, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--colourBackground);
  color: var(--colourFont);
  margin: 0px;
  padding: 0;
}
* {
  font-family: var(--family);
  font-size: 14px;
}

button {
  width: 70%;
  font-size: 14px;
  aspect-ratio: 1;
  background-color: rgb(12, 12, 12);
  color: white;
  margin-bottom: 50%;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px white;
}

#buttonF1 {
  box-shadow: inset 0 0 0 2px var(--colourGreen);
}

#buttonF2 {
  box-shadow: inset 0 0 0 2px var(--colourRed);
}

#buttonF3 {
  box-shadow: inset 0 0 0 2px var(--colourBlue);
}

#buttonF4 {
  box-shadow: inset 0 0 0 2px var(--colourOrange);
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#core {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar {
  width: 4%;
  height: 100%;
  background-color: rgb(12, 12, 12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  /* box-shadow: inset 0 0 0 2px magenta; */
}
#file {
  width: 100%;
  flex: 1;
  font-family: var(--family);
  box-sizing: border-box;
  padding: 20px;
  background: rgb(30,30,30);
  border: none;
  color: var(--colourFont);
  resize: none;
}
#file:focus {
  outline: none;
  border: none;
}

#terminal {
  width: 100%;
  flex: 1;
  font-family: var(--family);
  box-sizing: border-box;
  padding: 20px;
  background: black;
  border: none;
  color: var(--colourFont);
  resize: none;
}

@media (max-width: 900px) {
  #sidebar {
    width: 14%;
  }
  
  button {
    font-size: 8px;
  }
}

@media (orientation: portrait) {
  #sidebar {
    width: 14%;
  }
  
  button {
    font-size: 14px;
  }
}
