:root {
  --colourBackground: rgb(32,32,32);
  --colourFont: rgb(200,200,200);
  --family: monospace, 'Courier New', Courier, sans-serif;
  /* --family: fantasy; */
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--colourBackground);
  color: var(--colourFont);
  margin: 0px;
  padding: 0;
}
* {
  font-family: var(--family);
  font-size: 14px;
}

#form {
  min-width: 200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  resize: horizontal;
  overflow: auto;
}

#terminal {
  width: 100%;
  font-family: var(--family);
  box-sizing: border-box;
  padding: 20px;
  background: black;
  border: none;
  color: green;
  resize: none;
}

#input {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: black;
  color: green;
  box-shadow: none;
  border: none;
}
#input:focus {
  outline: none;
  border: none;
}