html,
body {
  margin: 0;
  padding: 0;
  background-color: #1D1E22;
  color: white;
  height: 100%;
  font-family: monospace, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

#toaster {
  width: 240px;
  height: 100px;
  box-sizing: border-box;
  padding: 16px;
  box-shadow: inset 0 0 0 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 24, 24, 0.7);
  flex-direction: column;
  border-radius: 8px;
  opacity: 1;
  position: fixed; /* Make the toaster fixed within the viewport */
  left: 50%;
  top: 5%;
  transform: translate(-50%, -0%); /* Adjust for true centering */
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.filler-box {
  height: 200px;
  background-color: #333;
  margin-bottom: 10px;
  padding: 10px;
}